Build
DerivedData
CMoneyTest.xcodeproj/project.xcworkspace/xcuserdata
CMoneyTest.xcodeproj/project.xcworkspace/xcshareddata
CMoneyTest.xcworkspace/xcshareddata
CMoneyTest.xcworkspace/xcuserdata
CMoneyTest.xcscheme
WebAPI/WebAPI.xcodeproj/xcuserdata
MVVM/MVVM.xcodeproj/xcuserdata/Bosian.xcuserdatad/xcschemes
CMoneyTest.xcodeproj/xcuserdata/Bosian.xcuserdatad/xcschemes
